@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Roboto:wght@400;500;700&display=swap");
@tailwind base;
@import "./custom-base-styles.css";
@tailwind components;
@import "./custom-components.css";
@tailwind utilities;
@import "./custom-utilities.css";



:root {
  font-family: "Gochi Hand", cursive, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  /*place-items: center;*/
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: rgb(16, 20, 24);
}

.emoticonIcon,
.dark-mode-icon {
  fill: white;
  color: white;
}

header {
  background: #1414143c;
  height: 75px;
  width: 100vw;

  display: grid;
  grid-template-columns: 100px 1fr 100px;
  grid-template-rows: 1fr;
  position: fixed;
  top: 0;

  backdrop-filter: blur(8px);
}

.h1-after-anim:after {
  content: "";
  position: absolute;
  width: 120px;
  border-bottom: 3px solid white;
  bottom: 6px;
  left: 0px;

  animation: underline 1s linear 0s infinite forwards;
}

@keyframes underline {
  0% {
    width: 0px;
    transform: translateX(0px);
  }
  50% {
    width: 120px;
    transform: translateX(0px);
  }
  90% {
    width: 0px;
    transform: translateX(120px);
  }
  100% {
    width: 0px;
    transform: translateX(0px);
  }
}

.header-buttons {
  width: 50px;
  height: 50px;
  padding: 4px;

  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.1) !important;
  border: none;
  transition: background-color 0.3s;
}

.header-buttons:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.header-buttons:active {
  background-color: rgba(0, 0, 0, 0.3) !important;
}

.water-color-bg {
  background-color: rgb(16, 20, 24);
  background-image: url(./assets/Water-Color.webp);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  min-height: 1000px;
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gradient {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: linear;
  background-color: rgb(16, 20, 24);
  background: linear-gradient(
    0deg,
    rgba(16, 20, 24, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.text-shadow{
  text-shadow: rgba(255, 255, 255, 0.3) 0px 2px 4px;
}

main {
  padding: 50px;
  height: 2000px;
}

.grid-item {
  border: 1px solid white;
  width: 100px;
  height: 50px;
}


















::-webkit-scrollbar {
  width: 0px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: black;
    background-color: #ffffff;
    transition: all 1s;
  }

  header {
    background-color: rgba(255, 255, 255, 0.25);

    transition: all 1s;
  }

  .right-header > svg,
  .left-header > svg {
    background-color: rgba(255, 255, 255, 0.25);

    transition: all 1s;
  }

  .gradient {
    background-color: rgba(200, 200, 200, 0.25);
    background: linear-gradient(
      0deg,
      rgba(240, 240, 240, 0.4) 0%,
      rgba(0, 0, 0, 0) 100%
    );

    transition: all 1s;
  }
}
