.header {
    width: 100vw;
    height: 100px;

    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;



}

.left-section {
    content: "";
    width: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 50px;
}

.middle-section {
    content: "";
    flex: 1;

    display: flex;
    flex-direction: row;
    align-items: flex-end;

    margin-bottom: 14px;

    z-index: 99;

}

.right-section {
    content: "";
    width: 200px;

    display: flex;

    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.left-section,
.middle-section,
.right-section {
    backdrop-filter: ;
}

.nav-menu {
    top: 18px;
}


.site-icon {
    position: absolute;
    width: 50px;
    transition: rotate .6s;
    z-index: 1;
}

.site-header {
    color: white;
    /**/
    font-size: 18px;
    margin-left: 20px;
    position: absolute;
    top: 7px;
}

.icon:hover .site-icon {
    rotate: 360deg;
    transition: .6s;
}

.footer {
    width: 100vw;

    display: flex;
    justify-content: space-between;

    padding-top: 20px;
    padding-bottom: 20px;

    filter: drop-shadow(0px -10px 5px var(--bg-color-scnd));

    background-color: transparent;
}


.nav-menu ul {
    margin-top: 50px;
    margin-right: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-section>div>a {
    font-size: 1.3rem;
    margin-left: 10px;
    margin-right: 20px;
    position: absolute;

    top: 60px;
    left: 150px;
    right: 0;
    bottom: 0;
}

.nav5 {
    width: 70px;
}

.nav6 {
    left: 250px !important;
    width: 100px;
}

.nav7 {
    left: 380px !important;
    width: 60px;
}

.nav8 {
    left: 470px !important;
    width: 85px;
}

.middle-section>div>a:active {
    font-size: 1.28rem;
    transition: font-size .1s;
}

.shadow1,
.shadow2,
.shadow3,
.shadow4 {
    content: "";
    position: absolute;
    top: 45px;
    left: -50px;
    right: 0;
    bottom: 0;
    width: .1px;
    height: 60px;
    /*background-color: rgba(0, 0, 0, .1);*/
    background-color: rgba(255, 255, 255, .1);
    transition: 1s;
    border-radius: 50px;
    pointer-events: none;

    filter: blur(5px);
}

#nav1:hover .shadow1 {
    width: 290px;
    transition: 1s;
}

#nav2:hover .shadow2 {
    width: 410px;
    transition: 1s;
}

#nav3:hover .shadow3 {
    width: 500px;
    transition: 1s;
}

#nav4:hover .shadow4 {
    width: 620px;
    transition: 1s;
}

#nav5:hover .shadow1 {
    width: 290px;
    transition: 1s;
}

#nav6:hover .shadow2 {
    width: 430px;
    transition: 1s;
}

#nav7:hover .shadow3 {
    width: 540px;
    transition: 1s;
}

#nav8:hover .shadow4 {
    width: 650px;
    transition: 1s;
}

.theme-switch {
    position: relative;
    display: block;
    padding-left: 40px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}

.theme-switch label {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
}

.theme-switch input {
    position: absolute;
    cursor: pointer;
    width: 25px;
    height: 25px;
    top: -6px;
    right: 0;
    opacity: 0;
    z-index: 5;
}

.sun-mark,
.moon-mark {
    position: absolute;
    width: 25px;
    height: 25px;
    z-index: 4;
    top: -6px;
    right: 0px;
}

.moon-mark {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s, transform 1s;

    animation: moon 2s alternate ease;
}

.sun-mark {
    opacity: 0;
    transform: scale(0);
    transition: opacity 1s, transform 1s;
    animation: sun 2s alternate ease;
}

@keyframes sun {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes moon {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}

.language-switch {
    position: relative;
}

.language-selected {
    transition: transform 1s;
    transform: scale(1);
}

.hoverde {
    color: white;
    font-size: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    pointer-events: none;
    transform: scale(0);
    transition: transform 1s;
}

.language-switch:hover .hoverde {
    transform: scale(1);
}

.language-switch:hover .language-selected {
    transform: scale(0);
}

.theme-switch input:checked~.moon-mark {
    opacity: 0;
    transform: scale(0);
    animation: moon 2s alternate ease;
}

.theme-switch input:checked~.sun-mark {
    opacity: 1;
    transform: scale(1);
    animation: sun 2s alternate ease;
}