.title {
    margin-top: 20rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title>h1 {
    margin-bottom: 10px;
    font-size: clamp(.1rem, .6rem + 5vw, 3rem);
}

.name {
    font-size: clamp(0px, 5rem + 100vw, 3.5rem);
    z-index: 0;
    position: relative;
}

.name:hover::after {
    width: 206px;
    z-index: 0;
}

.name::after {
    content: "";
    display: block;
    width: 0px;
    height: 5px;
    background: white;
    left: 0;
    right: 0px;
    bottom: 0;
    top: 70px;
    margin-top: -10px;
    position: absolute;
    transition: 1s ease-out;
}

.title>p {
    margin-bottom: 15px;
    font-size: clamp(1rem, .6rem + 10vw, 1.5rem);
}

.title>ul>li>a>svg {
    fill: white;
}

.title>ul>li {
    margin-right: 10px;
}

.title ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 18px;
}

.contact {
    margin-top: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}