@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    color: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

.title,
.projects,
.about-me,
.contact {
    position: absolute;
    display: inline-block;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 0;
    margin-bottom: 0;

}

.title {
    top: 100px;
}

.about-me {
    top: 800px;
}

.projects {
    top: 2000px;
}

.contact {
    top: 4000px;
}

.forjumping-about,
.forjumping-project,
.forjumping-contact {
    content: "";
    width: 1px;
    height: 1px;
    background: transparent;
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.forjumping-about {
    top: -300px;
}

.forjumping-project {
    top: -100px;
}

.forjumping-contact {
    top: -200px;
}

html {

    min-width: 300px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;


}

.stars-bg {
    position: absolute;
    width: 100%;
    height: 5800px;
    filter: opacity(.25) brightness(1);
    user-select: none;

}

header {
    position: sticky;
    top: 0;
    z-index: 10;
}

.header a {
    z-index: 15;
}

p {
    color: white;
    /**/

    margin-bottom: 0;
    margin-top: 0;
}

h1 {
    color: white;
    /**/

    margin-bottom: 0;
    margin-top: 0;
}

a {
    color: white;
    /**/
    text-decoration: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    height: 5800px;
    transition: backdrop-filter 1s;
    /*backdrop-filter: blur(0px) brightness(.3) grayscale(1);
    */
}

.footer {
    transition: backdrop-filter 1s;
}

@media all and (max-width: 700px) {
    .middle-section {
        visibility: hidden;
    }
}

@media (max-width: 700px) {
    .title>p {
        font-size: 1rem;
    }
}