@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    color: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}


.title,
.title-thank,
.projects,
.about-me,
.contact {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 !important;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;

}

.title,
.title-thank {
    top: 100px;
}

.about-me {
    top: 800px;
}

.projects {
    top: 2000px;
}

.contact {
    top: 4000px;
}

.forjumping-about,
.forjumping-project,
.forjumping-contact {
    content: "";
    width: 1px;
    height: 1px;
    background: transparent;
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.forjumping-about {
    top: -300px;
}

.forjumping-project {
    top: -100px;
}

.forjumping-contact {
    top: -200px;
}

html {
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;


}

.stars-bg {
    position: absolute;
    max-width: 5800px;
    height: 5800px;
    filter: opacity(.3) brightness(1);
    user-select: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

header {
    position: sticky;
    top: 0;
    z-index: 10;
}

.header a {
    z-index: 15;
}

p {
    color: white;
    /**/

    margin-bottom: 0;
    margin-top: 0;
}

h1 {
    color: white;
    /**/

    margin-bottom: 0;
    margin-top: 0;
}

a {
    color: white;
    /**/
    text-decoration: none;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

.main {
    height: 5800px;
    transition: backdrop-filter 1s;
    /*backdrop-filter: blur(0px) brightness(.3) grayscale(1);
    */
}

.footer {
    transition: backdrop-filter 1s;
}

@media all and (max-width: 700px) {
    .middle-section {
        visibility: hidden;
    }
}

@media all and (max-width: 1400px) {

    .project5,
    .project6 {
        display: none !important;
    }

    .grid-content {
        grid-template-columns: 400px 400px !important;
        width: 800px !important;
    }
}

@media all and (max-width: 900px) {

    .project5,
    .project6 {
        display: none !important;
    }

    .grid-content {
        grid-template-columns: 400px !important;
        width: 400px !important;
    }

    .about-me svg {
        left: 175px !important;
        top: 15px !important;
    }
}

@media all and (max-width: 400px) {
    /*GalaFOLD*/

    .grid-content {
        transform: scale(.75);
    }

    .more-projects {
        transform: translateY(-160px);
    }

    .contact {
        transform: scale(.80);
    }

    .about-me {
        transform: scale(.9);
    }

    .about-me svg {
        left: 170px !important;
        top: 15px !important;
    }
}

@media all and (max-width: 1000px) {

    .projects>ul>li:nth-child(1),
    .projects>ul>li:nth-child(2),
    .projects>ul>li:nth-child(3),
    .projects>ul>li:nth-child(4),
    .projects>ul>li:nth-child(5),
    .projects>ul>li:nth-child(6),
    .projects>ul>li:nth-child(7),
    .projects>ul>li:nth-child(8),
    .projects>ul>li:nth-child(9),
    .projects>ul>li:nth-child(10) {
        width: 580px !important;
        height: 400px !important;
        margin-bottom: 50px !important;
    }

    .proj-img1 {
        width: 200px !important;
        bottom: 20px !important;
        right: 20px !important;
    }

    .proj-desc1 {
        top: 80px !important;
        text-align: left !important;
    }

    .proj-desc1de {
        top: 70px !important;
        text-align: left !important;
        font-size: 16.5px !important;
    }

    .proj-top-name1 {
        left: calc(100%/2.7) !important;
    }
}

@media all and (max-width: 600px) {

    .projects>ul>li:nth-child(1),
    .projects>ul>li:nth-child(2),
    .projects>ul>li:nth-child(3),
    .projects>ul>li:nth-child(4),
    .projects>ul>li:nth-child(5),
    .projects>ul>li:nth-child(6),
    .projects>ul>li:nth-child(7),
    .projects>ul>li:nth-child(8),
    .projects>ul>li:nth-child(9),
    .projects>ul>li:nth-child(10) {
        width: 480px !important;
        height: 300px !important;
        margin-bottom: 50px !important;
    }

    .proj-img1 {
        display: none !important;
    }

    .proj-top-name1 {
        left: calc(100%/3) !important;
    }

    .proj-under-name {
        font-size: 1.2rem !important;

    }

    .proj-desc1 {
        font-size: 1rem !important;
    }

    .proj-desc1de {
        font-size: .85rem !important;
    }

    .proj-git {
        font-size: 1.2rem !important;
    }
}

@media all and (max-width: 500px) {

    .projects>ul>li:nth-child(1),
    .projects>ul>li:nth-child(2),
    .projects>ul>li:nth-child(3),
    .projects>ul>li:nth-child(4),
    .projects>ul>li:nth-child(5),
    .projects>ul>li:nth-child(6),
    .projects>ul>li:nth-child(7),
    .projects>ul>li:nth-child(8),
    .projects>ul>li:nth-child(9),
    .projects>ul>li:nth-child(10) {
        width: 380px !important;
        height: 250px !important;
        margin-bottom: 50px !important;
    }

    .proj-img1 {
        display: none !important;
    }

    .proj-top-name1 {
        left: calc(100%/3.2) !important;
        font-size: 28px !important;
        top: 5px !important;
    }

    .proj-under-name {
        font-size: 1.1rem !important;

    }

    .proj-desc1 {
        top: 50px !important;
        font-size: .75rem !important;
        text-align: center !important;
    }

    .proj-desc1de {
        top: 40px !important;
        text-align: center !important;
        font-size: .8rem !important;

        transform: scaleY(.9);
        transform: translateX(-8px)
    }

    .proj-git {
        font-size: 1.1rem !important;
    }

    .break {
        content: "";
        display: block;
    }

    .breakde {
        content: "";
        display: block;
        position: absolute;
    }
}