.projects>ul>li:nth-child(1),
.projects>ul>li:nth-child(2),
.projects>ul>li:nth-child(3),
.projects>ul>li:nth-child(4),
.projects>ul>li:nth-child(5),
.projects>ul>li:nth-child(6),
.projects>ul>li:nth-child(7),
.projects>ul>li:nth-child(8),
.projects>ul>li:nth-child(9),
.projects>ul>li:nth-child(10) {
    width: 1000px;
    height: 300px;
    margin-bottom: 100px;
    border: 1px solid rgba(255, 255, 255, .2);
    box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, .2);
    border-radius: 13px;
    transition: transform .3s;
}

.projects>ul>li:nth-child(1):hover,
.projects>ul>li:nth-child(2):hover,
.projects>ul>li:nth-child(3):hover,
.projects>ul>li:nth-child(4):hover,
.projects>ul>li:nth-child(5):hover,
.projects>ul>li:nth-child(6):hover,
.projects>ul>li:nth-child(7):hover,
.projects>ul>li:nth-child(8):hover,
.projects>ul>li:nth-child(9):hover,
.projects>ul>li:nth-child(10):hover {
    transform: scale(1.1);
}

.projects>ul>li>div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    position: relative;
}

.proj-img1,
.proj-img2 {
    width: 250px;
    position: absolute;

    right: 40px;
    bottom: 40px;

    transition: filter 1s;
    border-radius: 5px;
}

.proj-desc1,
.proj-desc2 {
    color: rgba(255, 255, 255, .5);
    position: absolute;
    font-size: 1.5rem;
    line-height: 35px;
    font-weight: 500;

    top: 65px;
    left: 20px;
    bottom: calc(100%/7);
}

.proj-desc1de {
    color: rgba(255, 255, 255, .5);
    position: absolute;
    font-size: 1.45rem;
    line-height: 30px;
    font-weight: 500;
    text-align: start;

    left: 20px;
    top: 65px;
    width: 690px;
}

.proj-desc2de {
    color: rgba(255, 255, 255, .5);
    position: absolute;
    font-size: 1.45rem;
    line-height: 30px;
    font-weight: 500;
    text-align: start;

    left: 20px;
    top: 75px;
    width: 690px;
}

.proj-top-name1,
.proj-top-name2 {
    position: relative;

    font-weight: 600;
    z-index: 0;

    color: rgba(255, 255, 255, .5);
    font-size: clamp(0px, .5rem + 5vw, 2rem);
    position: absolute;

    top: 10px;

    text-shadow: 2px 2px 2px rgba(255, 255, 255, .2);

}

.proj-top-name2 {
    left: calc(100%/2.7);
}

.proj-top-name1:hover::after {
    width: 160px;
    z-index: 0;
}

.proj-top-name2:hover::after {
    width: 255px;
    z-index: 0;
}

.proj-top-name1::after,
.proj-top-name2::after {
    content: "";
    display: block;
    width: 0px;
    height: 5px;
    background: rgba(255, 255, 255, .5);
    left: 0;
    right: 0px;
    bottom: 0;
    top: 44px;
    margin-top: -10px;
    position: absolute;
    transition: 1s ease-out;
}

.proj-under-name,
.proj-under-name2 {
    font-size: 1.5rem;
    position: relative;
    z-index: 0;
}

.proj-under-name:hover::after {
    width: 110px;
    z-index: 0;
}

.proj-under-name2:hover::after {
    width: 153px;
    z-index: 0;
}

.proj-under-name::after,
.proj-under-name2::after {
    content: "";
    display: block;
    width: 0px;
    height: 3px;
    background: rgba(255, 255, 255, .5);
    left: 0;
    right: 0px;
    bottom: 0;
    top: 35px;
    margin-top: -10px;
    position: absolute;
    transition: 1s ease-out;
}

.proj-git {
    font-size: 1.5rem;
    position: relative;
    z-index: 0;
    color: rgba(255, 255, 255, .5);
}

.proj-git:hover::after {
    width: 60px;
    z-index: 0;
}

.proj-git::after {
    content: "";
    display: block;
    width: 0px;
    height: 3px;
    background: rgba(255, 255, 255, .5);
    left: 0;
    right: 0px;
    bottom: 0;
    top: 35px;
    margin-top: -10px;
    position: absolute;
    transition: 1s ease-out;
}

.projects a {
    color: rgba(255, 255, 255, .5);
}